.infinize__viewAllNotesContainer {
    border-radius: 12px;
    border: 1px solid #ebf2fd;
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
    padding: 24px;
}

.infinize__viewAllNotesTabHeading {
    color: #1c71b5;
    font-size: 24px !important;
    font-weight: 600 !important;
}

.infinize__notesIcon {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #e9eff3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infinize__notesTitle {
    color: #333;
    font-size: 16px !important;
    font-style: normal;
    line-height: normal;
    font-weight: 500 !important;
}
.infinize__notesAccordion {
    border-radius: 8px;
    border: 1px solid #ebf2fd !important;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06) !important;
    width: 100%;
}
.infinize__notesDescription {
    color: #333;
    font-family: Poppins;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 145% !important; /* 20.3px */
}

.infinize__filterMenu {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.25);
    margin-left: -10px;
    margin-top: -40px;
}
