.infinize__notesContainer {
    border: 1px solid #efefef;
    width: 100%;
    padding: 24px;
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.infinize__downloadIcon {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #1c71b5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infinize__attachmentInfo {
    color: #acacac !important;
}
